%html
  %head
    = css_for *%w[screen typography]
    %title= @title
    %meta{:content => CONFIG.blog.description, :name => 'description'}
  %body
    %div{:id => 'wrapper'}
      %div{:id => 'header'}
        %h1{:class => 'site_title'}
          %a{:href => '/'}= CONFIG.blog.name
        %span{:class => 'blurb'}= CONFIG.blog.description
        %br
        
      %div{:id => 'content'}
      = @content