- if !@post and @posts
  - if @posts.size > 0
    - if @offset
      %div{:id => 'page-navigation'}
        - if @offset > 1
          %a{:href => r(:page, @offset -1)}= '&laquo; Previous '
        = "Page #{@offset} of #{@page_count}"
        - if @offset < @page_count
          %a{:href => r(:page, @offset +1)}= ' Next &raquo;'
    
      
    - @posts.each do |post|
      - if post != nil
        = render_partial("/_front-page-post", 'post' => post)

   


- if @post
  = render_partial("/_post", 'post' => @post)